*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.top-section{
    min-height: 30vh;
    width: 100%;
    position: relative;
    background-color: #000000;
}
.navbar{
    display: flex;
    padding: 2% 8%;
    justify-content: right;
    align-items: center;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    padding: 18px 45px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 14px;
}
.link{
    color: #fff;
}
.navbtn{
    color:#000000;
    border: 1px solid;
    background-color: #FFAC12;
    padding: 8px;
    height: 4px;
    border-radius: 0px 10px 0px 0px;
}
.navbtn span{
    color: #fff;
}
.top-content p{
    color: #fff;
}
.top-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.top{
    font-size: 32px;
    font-weight: 500;
}
.bottom{
    font-size: 14px;
    font-weight: 200;
}
.middle{
    min-height: 270vh;
    width: 100%;
    position: relative;
    background-color: #EFEBDE;
}
.middle-div{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}
.container-img{
    padding-left: 250px;
}
.middle-img{
    max-width: 94%;
    max-height: 86%;
}
.min-img{
    max-width: 13%;
    max-height: 13%;
}
.form-container{
    width: 450px;
    height: 490px;
    background: #fff;
    border-radius: 13px;
    margin-right: 230px;
}
form p{
    margin-bottom: 4px;
    font-size: 20px;
}
form p span{
    font-size: 12px;
    color: #FFAC12;
}
form input{
    width: 90%;
    padding: 15px 5px;
    border: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
form button{
    margin-top: 150px;
    margin-left: 15px;
    color: #FFAC12;
    background: black;
    padding: 10px;
    width: 220px;
    height: 40px;
    border: 1px solid black;
    border-radius: 0px 8px 0px 0px;
}
.div-details{
    background: #fff;
    margin-top: 20px;
    margin-left: 250px;
    max-width: 740px;
    height: 80px;
    border-radius: 15px;
}
.div-details p{
    padding: 8px 16px;
    font-weight: 500;
}
.details-img{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.div-description{
    background: #fff;
    margin-top: 20px;
    margin-left: 250px;
    max-width: 740px;
    height: 280px;
    border-radius: 15px;
}
.heading{
    font-size: 20px;
    font-weight: 700;
    padding: 4px 8px;
}
.txt{
    font-size: 14px;
    font-weight: 200;
    padding: 4px 8px;
}
.features{
    background: #fff;
    margin-top: 20px;
    margin-left: 250px;
    max-width: 740px;
    height: 270px;
    border-radius: 15px;
}
.conditioning{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.features-title{
    font-size: 20px;
    font-weight: 700;
    padding-top: 10px;
    padding-left: 8px;
    padding-bottom: 48px;
}
.conditioning p{
    font-size: 12px;
    font-weight: 300;
    padding: 4px 8px;
}
.listings{
    margin-top: 100px;
    margin-left:250px;
}
.listings hr{
    height: 3px;
    width: 130px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to left,black,#FFAC12);
    margin-bottom: 12px;
}
.listings-txt{
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 50px;
}
.div-listings{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.div-listings img{
    max-width: 94%;
    max-height: 84%;
}
.listing-clmn1,.listing-clmn2,.listing-clmn3,.listing-clmn4{
    background: #fff;
    border-radius: 12px;
    margin: 0px 4px;
    background-size: contain;
}
.bottom-section{
    min-height: 50vh;
    width: 100%;
    position: relative;
    background-color: #000;
}
.bottom-box{
    display: flex;
    flex-direction: row;
}
.bottom-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.bottom-btn button{
    margin-right: 260px;
    margin-top: 67px;
    color:#000000;
    border: 1px solid;
    background-color: #FFAC12;
    padding: 16px;
    border-radius: 0px 10px 0px 0px;
}
.bottom-btn button span{
    color: #fff;
    font-size: 22px;
}
.bottom-section p{
    color: #fff;
    font-size: 28px;
    margin-left: 150px;
    padding-top: 60px;
}
.bottom-section p span{
    color: #FFAC12;
}
.bottom-section hr{
    width: 1100px;
    border: 0.5px solid #dddddd;
    margin-left: 150px;
    margin-top: 30px;
}
.bottom-icons{
    margin-top: 70px;
    margin-left: 120px;
}
.bottom-icons img{
    width: 30px;
    height: 30px;
    padding: 20px;
}
.bottom-clmn p{
    color: #dddddd;
    font-size: 10px;
    margin-left: 220px;
}