*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 110vh;
    width: 100%;
    background-image: url(../assets/images/moving\ 1.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.nav-links{
    display: flex;
    padding: 2% 8%;
    justify-content: right;
    align-items: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 18px 35px;
    position: relative;
}
.nav-links ul li a{
    text-decoration: none;
    font-size: 16px;
}
.lnk{
    color: #fff;
}
.logbtn{
    color: black;
    border: 1px solid;
    background-color: yellow;
    padding:2px 6px;
    height: 4px;
}
.logbtn2{
    color:#FAFF00;
    border:1px solid black;
    background-color: black;
    padding:3px 6px;
    height: 4px;
}
.div1{
    margin-left: 200px;
    margin-top: 50px;
}
.div1 h4{
    font-size: 44px;
    color: #FAFF00;
}
.div2{
    margin-left: 200px;
    margin-top: 72px;
}
.div2 p{
    font-size: 30px;
    color: azure;
}
.aboutUs{
    min-height: 60vh;
    width: 100%;
    position: relative;
}
.aboutdiv{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.aboutimg img{
    max-width: 85%;
    max-height: 90%;
}
.About-content{
    margin-top: 150px;
    margin-right: 400px;
    left: 400px;
}
.About-content hr{
    height: 3px;
    width: 100px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to left,black,#FAFF00);
    margin-bottom: 8px;
}
.About-content h4{
    margin-top: 16px;
    font-size: 24px;
}
.About-content p{
    font-size: 18px;
    margin-top: 8px;
}
.About-content button{
    margin-top: 50px;
    color: #FAFF00;
    background: black;
    width: 120px;
    height: 40px;
    border: 1px solid black;
    border-radius: 0px 8px 0px 0px;
}
.movers{
    min-height: 130vh;
    width: 100%;
    position: relative;
    background-color: #EFEBDE;
}
.topmovers{
    margin-left: 50px;
    padding: 90px;
}
.topmovers hr{
    height: 3px;
    width: 120px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to left,black,#FFAC12);
    margin-bottom: 12px;
}
.topmovers h1{
    font-size: 32px;
}
.movers p{
    text-align: center;
    font-weight: 500;
}
.column1{
    width: 24%;
    float: left;
    margin-left: 140px;
    background-color: #fff;
    border-radius: 18px;
}
.column1 img{
    max-width: 100%;
}
.column2{
    width: 24%;
    float: left;
    margin-right: 120px;
    padding-left: 90px;
    background-color: #fff;
    border-radius: 18px;
}
.column2 img{
    max-width: 100%;
}
.column3{
    float: left;
    width: 24%;
    margin-right: 70px;
    background-color: #fff;
    border-radius: 18px;
}
.column3 img{
    max-width: 100%;
}
.contact{
    min-height: 50vh;
    width: 100%;
    position: relative;
    background-color: #000;
}
.contact-box{
    display: flex;
    flex-direction: row;
}
.contact p{
    color: #fff;
    font-size: 28px;
    margin-left: 150px;
    padding-top: 60px;
}
.contact p span{
    color: #FAFF00;
}
.contact hr{
    width: 1100px;
    border: 0.5px solid #dddddd;
    margin-left: 150px;
    margin-top: 30px;
}
.icons{
    margin-top: 70px;
    margin-left: 120px;
}
.icons img{
    width: 30px;
    height: 30px;
    padding: 20px;
}
.contact-clmn p{
    color: #dddddd;
    font-size: 10px;
    margin-left: 220px;
}