*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(../assets/images/moving\ 1.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.nav-links{
    display: flex;
    padding: 2% 8%;
    justify-content: right;
    align-items: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 18px 35px;
    position: relative;
}
.nav-links ul li a{
    text-decoration: none;
    font-size: 16px;
}
.lnk{
    color: #fff;
}
.logbtn{
    color: black;
    border: 1px solid;
    background-color: yellow;
    padding: 1px;
    height: 4px;
}
.logbtn2{
    color:#FAFF00;
    border: 1px solid;
    background-color: black;
    padding: 1px;
    height: 4px;
}
.div1{
    margin-left: 200px;
    margin-top: 50px;
}
.div1 h4{
    font-size: 44px;
    color: #FAFF00;
}
.div2{
    margin-left: 200px;
    margin-top: 72px;
}
.div2 p{
    font-size: 30px;
    color: azure;
}
.aboutUs{
    min-height: 60vh;
    width: 100%;
    position: relative;
}
.aboutdiv{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.aboutimg img{
    max-width: 82%;
    max-height: 85%;
}
.About-content{
    margin-top: 150px;
    margin-right: 400px;
    left: 400px;
}
.About-content hr{
    height: 3px;
    width: 100px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to left,black,#FAFF00);
    margin-bottom: 8px;
}
.About-content h4{
    margin-top: 16px;
    font-size: 24px;
}
.About-content p{
    font-size: 18px;
    margin-top: 8px;
}
.About-content button{
    margin-top: 50px;
    color: #FAFF00;
    background: black;
    width: 120px;
    height: 40px;
    border: 1px solid black;
    border-radius: 0px 8px 0px 0px;
}